---
import ScaleUp from "../components/ScaleUp";
import ScaleUpImg from "../components/ScaleUpImg";
import Timeline from "../components/Timeline";
import TranslateX from "../components/TranslateX";
import TranslateXText from "../components/TranslateXText";
import Audio from "../components/Audio";
import Layout from "../layouts/Layout.astro";
import ScaleUpGif from "../components/ScaleUpGif";
import TranslateXMultiple from "../components/TranslateXMultiple";
import ScaleUpMultiple from "../components/ScaleUpMultiple";
import Keyframes from "../components/Keyframes";
import Rotate from "../components/Rotate";
import ScaleUpReverse from "../components/ScaleUpReverse";
import TranslateXMultipleKeyframes from "../components/TranslateXMultipleKeyframes";
import Loop from "../components/Loop";
import Motion from "../components/Motion";
---

<Layout mainTitle="Introduction">
  <main>
    <!-- 90000 est 2min30sec -->
    <!-- 260190 est la durée total de l'animation -->
    <Timeline client:load duration={"260190"} />
    <Audio client:load src="contexte.m4a" interval={0} />
    <ScaleUp
      target="titre"
      client:load
      delay={0}
      endDelay={14000}
      sentence="Modèle de rendu de page web en 2023"
    />
    <TranslateXText
      client:load
      target="rendering"
      translateX="500"
      delay={2500}
      duration={3000}
      endDelay={16500}
      left={`-left-96`}
      top={`top-48`}
      sentence="Rendering Pattern"
    />
    <ScaleUpGif
      client:load
      target="gifDeveloppement"
      delay={7000}
      endDelay={10000}
      left={`left-0`}
      right={`right-0`}
      bottom={5}
      gif="https://giphy.com/embed/2C6v4QD5d3YOO4YhID"
    />
    <TranslateXMultiple
      client:load
      target="stack"
      el="stackEl"
      translateX={-850}
      delay={10000}
      delayMulti={200}
      delayDiv={2}
      endDelay={8000}
      src1="css.png"
      src2="js.png"
      src3="html.png"
      src4="node.png"
      top1="23%;"
      top2="40%;"
      top3="45%;"
      top4="30%;"
      right1="-20%;"
      right2="-25%;"
      right3="-15%;"
      right4="-10%;"
    />
    <ScaleUpMultiple client:load endDelay={5500} />
    <ScaleUpGif
      client:load
      target="gitCeo"
      delay={12000}
      endDelay={7000}
      left={`left-0`}
      bottom={5}
      gif="https://giphy.com/embed/f03swr0FhG0xJyVga9"
    />
    <TranslateXMultiple
      client:load
      target="point"
      el="pointEl"
      translateX={-325}
      delay={17000}
      delayMulti={1000}
      delayDiv={2.75}
      endDelay={3200}
      sentence1="Rapide"
      sentence2="SEO"
      sentence3="Administrable"
      sentence4="Whaou"
      sentence5="Good Techno"
      top1="40%;"
      top2="51%;"
      top3="62%;"
      top4="73%;"
      top5="84%;"
      left1="101%;"
      left2="101%;"
      left3="101%;"
      left4="101%;"
      left5="101%;"
    />
    <Audio client:load src="renderingPattern.m4a" interval={29120} />
    <ScaleUp
      target="titreRenderingPattern"
      client:load
      delay={29120}
      endDelay={4000}
      sentence="Qu'est ce qu'un rendering pattern ?"
    />
    <TranslateX
      client:load
      target="web"
      translateX={700}
      delay={30620}
      endDelay={1500}
      duration={3000}
      left={`-left-96`}
      top={`top-96`}
      src="web.png"
    />
    <TranslateXMultiple
      client:load
      target="htmlCssJs"
      el="htmlCssJsEl"
      translateX={-650}
      delay={35120}
      delayMulti={1000}
      delayDiv={2.75}
      endDelay={500}
      src1="html.png"
      src2="css.png"
      src3="js.png"
      top1="30%;"
      top2="45%;"
      top3="60%;"
      right1="-15%;"
      right2="-15%;"
      right3="-15%;"
    />
    <Audio client:load src="SSR.m4a" interval={39800} />
    <ScaleUp
      client:load
      target="differentRenderingPattern"
      delay={39800}
      endDelay={91600}
      sentence="Les différents rendering pattern"
    />
    <TranslateXText
      client:load
      target="ssr"
      translateX="500"
      delay={40300}
      duration={3000}
      endDelay={30500}
      left={`-left-96`}
      top={`top-48`}
      sentence="Server Side Rendering"
    />
    <TranslateX
      client:load
      target="webSSR"
      translateX={700}
      delay={45800}
      endDelay={27500}
      duration={4000}
      left={`-left-96`}
      top={`top-96`}
      src="web.png"
    />
    <TranslateX
      client:load
      target="server"
      translateX={-700}
      delay={46300}
      endDelay={27000}
      duration={4000}
      right={`-right-96`}
      bottom={`bottom-44`}
      src="server.png"
    />
    <Rotate
      client:load
      target="wheel"
      delay={46800}
      endDelay={50000}
      translateX={-500}
      bottom={11}
      right={-2.5}
    />
    <Keyframes client:load target="htmlDoc" delay={50800} endDelay={50000} />
    <ScaleUpImg
      client:load
      sentence="www.outofschool.com"
      src="arrow.png"
      target="arrow"
      delay={51800}
      endDelay={27000}
      left={0}
      right={0}
      bottom={18}
    />
    <ScaleUpImg
      client:load
      src="fast.png"
      sentence="Rapide"
      target="fast"
      delay={59800}
      endDelay={22000}
      right={2.5}
      bottom={19}
    />
    <ScaleUpImg
      client:load
      src="seo.png"
      sentence="SEO"
      target="seo"
      delay={61300}
      endDelay={22000}
      right={2.5}
      bottom={10}
    />
    <ScaleUpImg
      client:load
      src="access.png"
      sentence="Accessible"
      target="access"
      delay={62800}
      endDelay={22000}
      right={2.5}
      bottom={2}
    />
    <ScaleUpReverse
      client:load
      src="js.png"
      target="jsReverse"
      delay={66800}
      endDelay={19000}
      left={20}
      top={24}
    />
    <ScaleUpGif
      client:load
      target="gifBadNetwork"
      delay={74800}
      endDelay={12000}
      left={`left-0`}
      bottom={5}
      gif="https://giphy.com/embed/OijlHruJk544wGchMP"
    />
    <ScaleUpGif
      client:load
      target="googleRanking"
      delay={85800}
      endDelay={10000}
      right={`right-0`}
      top={15}
      gif="https://giphy.com/embed/Qdny09SRG11Be"
    />
    <ScaleUpGif
      client:load
      target="accessibility"
      delay={92300}
      endDelay={6000}
      right={`right-0`}
      left={`left-0`}
      bottom={2.5}
      gif="https://giphy.com/embed/0ozmBje9bTxfPlKO7m"
    />
    <!-- <Audio client:load src="SPA.m4a" interval={110540} /> -->
    <Audio client:load src="SPA.m4a" interval={110540} />
    <TranslateXText
      client:load
      target="spa"
      translateX="500"
      delay={110540}
      duration={3000}
      endDelay={27300}
      left={`-left-96`}
      top={`top-48`}
      sentence="Single Page Application"
    />
    <ScaleUpImg
      client:load
      src="clientside.png"
      sizeSrc={64}
      target="clientside"
      delay={116540}
      endDelay={26300}
      left={0}
      right={0}
      bottom={13}
    />
    <TranslateXMultipleKeyframes
      client:load
      target="htmlCssJs2"
      el="htmlCssJsEl2"
      translateX={-900}
      delay={120540}
      delayMulti={1000}
      delayDiv={2.75}
      endDelay={17300}
      src1="html.png"
      src2="css.png"
      src3="js.png"
      top1="18%;"
      top2="18%;"
      top3="33%;"
      right1="-18%;"
      right2="-34%;"
      right3="-26%;"
    />
    <ScaleUpGif
      client:load
      target="clientSide"
      delay={128040}
      endDelay={20300}
      left={`left-0`}
      bottom={5}
      gif="https://giphy.com/embed/nhpTbiQ3jb8Ksc7k3s"
    />
    <ScaleUpImg
      client:load
      src="js.png"
      target="jsClientSide"
      delay={125540}
      endDelay={21000}
      right={0}
      left={0}
      bottom={15}
    />
    <Rotate
      client:load
      target="wheel2"
      delay={128040}
      endDelay={31000}
      translateX={-740}
      right={-5}
      bottom={15}
    />
    <ScaleUpImg
      client:load
      src="api.png"
      target="api"
      delay={140040}
      endDelay={15000}
      right={36}
      bottom={30}
    />
    <Loop
      client:load
      target="loop1"
      el="loopEl1"
      translate="270"
      delay={140040}
      endDelay={10000}
      right={36}
      bottom={35}
    />
    <Loop
      client:load
      target="loop2"
      el="loopEl2"
      translate="-270"
      delay={140040}
      endDelay={10000}
      right={37}
      bottom={15}
    />
    <Loop
      client:load
      target="loop3"
      el="loopEl3"
      translate="270"
      delay={140140}
      endDelay={10000}
      right={38}
      bottom={35}
    />
    <Loop
      client:load
      target="loop4"
      el="loopEl4"
      translate="-270"
      delay={140140}
      endDelay={10000}
      right={39}
      bottom={15}
    />
    <ScaleUpGif
      client:load
      target="badSetup"
      delay={157040}
      endDelay={5000}
      right={`right-0`}
      bottom={40}
      gif="https://giphy.com/embed/YFkpsHWCsNUUo"
    />
    <ScaleUpGif
      client:load
      target="googleGetNothing"
      delay={166040}
      endDelay={750}
      right={`right-0`}
      bottom={5}
      gif="https://giphy.com/embed/ymKIz3zBieFNK"
    />
    <Motion
      client:load
      target="motion1"
      el="motionEl1"
      translateX={-100}
      delay={145040}
      endDelay={5000}
      right={-5}
      bottom={75}
    />
    <ScaleUpImg
      client:load
      src="non-access.png"
      target="non-access"
      delay={168540}
      endDelay={500}
      right={12}
      bottom={40}
    />
    <!-- <Audio client:load src="SSG.m4a" interval={171200} /> -->
  </main>
</Layout>

<style>
  main {
    /* background-color: rgb(76, 69, 69); */
    background-image: url("/background.jpg");
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>
