---
import ScaleUp from "../components/ScaleUp";
import Timeline from "../components/Timeline";
import Layout from "../layouts/Layout.astro";
---

<Layout mainTitle="Introduction">
  <main>
    <Timeline client:load />
    <ScaleUp duration="2000" delay="1000" client:load />
  </main>
</Layout>

<style>
  main {
    /* background-color: rgb(76, 69, 69); */
    background-image: url("/background.jpg");
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>
