---
import { MyGsapComponent } from "../components/Gsap";
import TranslateX from "../components/TranslateX";
import Layout from "../layouts/Layout.astro";
---

<Layout mainTitle="Introduction">
  <main>
    <TranslateX client:load />
    <TranslateX client:load />
    <MyGsapComponent client:load name="Gsap" />
  </main>
</Layout>

<style>
  main {
    background-color: rgb(76, 69, 69);
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
