---
import { AnimeComponent } from "../components/Anime";
---

<div>
  <h1 class="text-red-400">ThirdPage</h1>
</div>

<AnimeComponent
  client:load
  firstProp="container3"
  secondProp="letters3"
  sentence="THIRD"
/>
